@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body, html {
    padding:0;
    margin:0;
    background-color: #FAF6F0
}

header {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

nav a {
    padding-right: 27px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.remove-padding {
    padding: 0;
}

a {
    text-decoration: none;
    color: #2c2a2a;
}

.work-link {
    color: #4B73FF;
}

.wrapper {
    max-width: 1205px;
    margin: auto;
    display: flex;
    justify-content:space-evenly;
    align-items: top;
    flex-flow: row wrap;
    margin-top: 200px;
}

article {
    height: 402px;
    width: 293px;
    background-color: grey;
    margin-bottom: 7px;
}

article img {
    object-fit: cover;
    height: 402px;
    width: 293px;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 150px;
}

.contact {
    display: flex;
    align-items: center;
}

.email {
    padding-left: 10px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    h1 {
        font-size: 38px;
        line-height: 56px;
    }
    .intro {
        margin: 0 15px;
        height: 400px;
    }
    header {
        margin: 0 15px;
    }
    p {
        height: 180px;
    }
    .main-content {
        justify-content: center;
    
    }
    
    }

    @media screen and (max-width: 1050px) and (orientation: landscape) {
        header {
        margin: 0 15px;
    }
    .main-content {
        justify-content: space-evenly;
        max-width: 1000px;
    }
}

@media screen and (min-width: 800px) and (orientation: portrait) {
    header {
    margin: 0 15px;
}
    .main-content {
        justify-content: space-evenly;
        max-width: 1000px;
}
    h1 {
        margin: 0 65px;
        font-size: 46px;
        line-height: 64px;
    }
}